.container {
  width: 400px;
  position: relative;
  border: 10px solid #343434;
  border-radius: 5px;
  margin: 10px auto;
}

header {
  margin: 0;
  padding: 10px 12px 15px;
  background-color: #343434;
}

#logo-container {
  float: left;
}

#fb-login {
  display: block;
}

#login-container {
  float: right;
}

#navigation {
  padding: 10px;
  text-align: right;
  border-bottom: 2px solid #aaa;
}

#message-nav {
  position: absolute;
  top: 55px;
  left: -250px;
  width: 200px;
  min-height: 200px;
  border: 2px solid #343434;
  border-radius: 5px;
  background-color: #343434;
  padding: 10px;
}

#message-nav li {
  list-style: none;
  margin: 0 0 2px 0;
}

#message-nav li a {
  display: block;
  background-color: #fff;
  padding: 5px 10px;
}

#message-nav li a.active {
  background-color: #eee;
}

#message-nav li a.title {
  float: left;
  width: 146px;
}

#message-nav li a.remove-btn {
  float: right;
  opacity: 0.2;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#message-nav li a.remove-btn:hover {
  opacity: 0.8;
}

.message-items {
  border: 1px solid #e1e1e8;
  position: relative;
  max-height: 400px;
  height: 400px;
  overflow-y: auto;
}

.message-item {
  border-bottom: 1px solid #ccc;
  background-color: #f6f6f6;
}

.user {
  padding: 7px 7px 0px;
  color: #555;
}
.user .image {
  float: left;
  width: 30px;
  height: 30px;
}
.user .name {
  float: left;
  margin: 0 0 0 10px;
  line-height: 30px;
}

.content {
  padding: 4px 7px 10px 49px;
}

.songs {
  background-color: #f7f7f9;
  margin: 0 0 0 47px;
}

.song {
  border-top: 1px solid #e1e1e8;
  border-left: 1px solid #e1e1e8;
  padding: 4px 7px;
  min-height: 23px;
}
  .song .song-info {
    float: left;
    margin: 0 10px 0 0;
    width: 295px;
  }
  .song .artist-name {
    float: left;
    margin: 0 10px 0 0;
  }
  .song .track-title {
    float: left;
    color: #666;
  }
  .song .play-button {
    float: right;
  }

.compose-field {
  padding: 8px 5px 15px 6px;
  background-color: #e4e4e4;
}

.textarea {
  resize: none;
  padding: 1px 5px;
  margin: 0 0 5px;
  height: 40px;
  width: 381px;
  border: 1px solid #ccc;
  border-radius: 0;
}

.send-button {
  float: right;
}

#playlist {
  position: absolute;
  top: 55px;
  left: 420px;
}
  #playlist .songs {
    margin: 0;
    height: 250px;
    overflow-y: auto;
  }

/* Player */
#player {
  
}